.container{
    overflow: hidden;
    height: 750px;
    position: relative;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: sepia(1) blur(1px);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    text-transform: uppercase;
    text-align: center;
    /* text-shadow: 2px 2px 10px rgba(0,0,0,0.8); */
    text-shadow: 4px 4px 2px orangered;
    font-style: italic;
    font-size: 4.5rem;
    font-weight: 900;
    font-family: var(--font-title);
    z-index: 2;
}