.container{
    margin-top: 2rem;
}

.header{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    gap: 1rem;
}

/* Player Card */
.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 1rem;
}

.imgContainer{
    height: 200px;
    width: 200px;
    background-color: orange;
    border-radius: 25px;
    position: absolute;
    top: 2rem;
    left: 2rem;
    rotate: -5deg;
    box-shadow: -.5rem .5rem 0 rgb(29, 32, 46);
}
.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dataContainer{
    max-width: 500px;
    margin-left: 250px;
}
.dataContainer p{
    line-height: 2rem;
    padding: 0;
}

.span{
    opacity: .5;
    margin-right: .5rem;
    color: white;
    font-style: italic;
}

.icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}