.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 8rem;
    background-color: rgb(11, 11, 31);
    border-bottom: 1px solid orange;
}

.logoContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    font-family: var(--font-title);
    font-size: 2rem;
    color: orange;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    transition: text-shadow 300ms ease-in-out;
}
.logo:hover{
    text-shadow: 0px 0px 5px rgb(255, 216, 142);
}
.logoImg{
    height: 40px;
    width: 40px;
    /* background-color: orange; */
    border-radius: 100px;
    overflow: hidden;
}
.logoImg img{
    height: inherit;
    scale: 1.15;
}