.container{
    margin-top: 2rem;
}

.header{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    color: wheat;
    margin-bottom: 1.5rem;
}

.icon {
    flex-shrink: 0;
    margin-top: 1.5rem;
    rotate: 25deg;
}

.liText {
    font-family: var(--font-title);
    font-size: 1.4rem;
    color: wheat;
    line-height: 2.2rem;
    word-spacing: .3rem;
    text-align: justify;
}

/* Section footer */
.sectionFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}
.sectionFooter p{
    font-style: italic;
    font-size: 1rem;
}