.nav{
    display: flex;
    gap: 1rem;
}

.enlace{
    color: orange;
    font-family: var(--font-title);
    font-style: italic;
    text-transform: uppercase;
    font-size: 1rem;
}
.enlace:hover{
    color: slateblue;
}

